<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="http://localhost:8099/test/createOrder" method="post">
    Projectid：<input type="text" name="Projectid" placeholder="请输入你的用户名"> <br>
    Status：<input type="text" name="Status" placeholder="请输入你的密码"> <br>
    orderid：<input type="text" name="orderid" placeholder="请输入你的密码"> <br>
    <input type="submit" value="提交">
</form>
</body>
</html>